*{
    font-family: Raleway, sans-serif;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

.columnas{
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 10px;
    align-items: center;
}

.caract{
    background-color: #8c4966;
    padding: 20px;
    margin: 20px 0;
}

.caract_icons{
    
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    column-gap: 10px;
    align-items: center;
    width: 100%;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 10px;
    align-items: center;
}

.imagen1{
    width: 600px;
}



.imagen2, .imagen3, .imagen4{
    display: inline-block;
    width: 200px;
    height: 200px;
}
